!!! 5
%html

  %head
    %title Bible Query Engine
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content:"width=device-width"}
    %meta{name: "description", content: "Uber-simple Bible search for geeks. Just type and press enter to search."}
    %meta{name: "robots", content: "index, follow"}
    %meta{name: "wot-verification", content: "d26a99b45ee249e00b91"}
    %link{rel: "author", href: "http://zickzickzick.com"}
    %link{rel: "stylesheet", href: "logo.css"}
    %style= sass :style

  %body
    .wrapper-home
      .sub-wrapper
        %h1.logo BibleQE

        %form{action: "/search"}
          %label
            %input{name: "q", autofocus: true, autocomplete: "off"}/

    %nav.footer
      %a{href: "/usage"} Usage
      %a{href: "http://github.com/anoxic/bibleqe"} Source Code
      %a{href: "http://zickzickzick.com"} Author
