!!! 5
%html

  %head
    %title Bible Query Engine
    %meta{name: "description", content: "Uber-simple Bible search for geeks. Just type and press enter to search."}
    %meta{name: "robots", content: "index, follow"}
    %link{rel: "author", href: "http://zickzickzick.com"}
    %style= sass :style

  %body
    .wrapper-home
      .sub-wrapper
        %h1 BibleQE

        %form{action: "/search"}
          %label
            %input{name: "q", autofocus: true, autocomplete: "off"}/

        .instructions
          %p Terms not starting in : are used as search terms (in an AND search)
          %p &lt;term&gt;|&lt;term&gt; executes an OR search
          %p /&lt;regex&gt;/ for a regular expression search
          %p :list list references
          %p :text &lt;version&gt; Change text  (by version abbreviation)

    %nav.footer
      %a{href: "http://github.com/anoxic/bibleqe"} Github
      %a{href: "http://zickzickzick.com"} Author
