!!! 5
%html

  %head
    %title Bible Query Engine
    %style= sass :style

  %body
    .wrapper-home
      %h1 BibleQE

      %form{action: "/search"}
        %input{name: "q", autofocus: true}/
        %p.aside Press enter to search the Bible


      .instructions
        %p Terms not starting in : are used as search terms (in an AND search)
        %p &lt;term&gt;|&lt;term&gt; executes an OR search
        %p /&lt;regex&gt;/ for a regular expression search
        %p :list list references
        %p :text &lt;version&gt; Change text  (by version abbreviation)

