!!! 5
%html

  %head
    %title #{params[:q]}
    %style= sass :style

  %body
    .wrapper
      .sub-wrapper

        %form
          %label
            %input{name: "q", value: params[:q]}/
          %p= result.matches_verbose

        - if list
          - result.list.each do |r|
            %address= r
        - else
          - result.show.each do |r|
            - r[1].gsub!(/[<>]/, "<"=>"&lt;", ">"=>"&gt;")
            - r[1].gsub!(/[\[\]]/, "["=>"<ins>", "]"=>"</ins>")
            - r[1].gsub!(/(#{result.query.join('|')})/i, '<b>\1</b>')
            %address= r[0]
            %p.result= r[1]

        - if result.matches > 10
          %form
            %label
              %input{name: "q", value: params[:q]}/
            %p.aside Press enter to search the Bible

