$red: #EC2727
$margin: 1em

*
  margin: 0
  outline: 0

body
  font-family: sans-serif
  color: #8D7575

.wrapper
  width: 33em
  font-size: 19px
  margin: 3em auto

.wrapper-home
  @extend .wrapper
  margin-top: 7em

h1
  font-weight: normal
  font-size: 2.2em
  color: $red

form
  color: $red

input
  border: 1px solid $red
  color: $red
  font-size: 1.4em
  margin-bottom: .5rem
  padding: 4px 10px
  width: 100%

p
  margin-bottom: 1em
  
