$white: #fff
$light: #C4B3B3
$medium: #796969
$medium-b: #796262
$dark: #3F3535
$red: #EB4444
$yellow: #FFF4A6
$margin: 1.2em
$radius: 2px

*
  margin: 0
  outline: 0
html, body
  height: 100%

body
  font-family: sans-serif
  background: $white
  color: $medium
  line-height: 1.5em
  font-size: 17px
.link
  position: fixed
  top: 0
  left: 0
  padding: 1em 0 0 1em
  @media (max-width: 48em)
    position: initial
    max-width: 33em
    margin: 0 auto
.wrapper
  max-width: 33em
  margin: 0 auto
  padding: 1em
  .sub-wrapper
    padding-bottom: 5em
.wrapper-home
  @extend .wrapper
  margin-top: 0
  height: 100%
  display: table
  .sub-wrapper
    overflow: hidden
    display: table-cell
    vertical-align: middle
    padding-bottom: 10em
.footer
  height: 2em
  margin-top: -3em
  text-align: center
  a
    margin: 0 1em

.instructions
  color: $light
  margin-top: $margin * 2

h1
  font-size: 3em
  color: #EB4444
  line-height: 2em
  text-align: center
form
  color: $red
label
  display: block
  padding-right: 44px + 2px
  /*=> width of border & margin */
input
  border: 1px solid $red
  color: $red
  font-family: inherit
  font-size: 1.4em
  padding: 10px 22px 11px
  border-radius: $radius
  width: 100%
  .wrapper-home &
    padding: 14px 22px 15px
p
  margin: .2em 0 1em
  &.result
    font-size: 1.2em
    font-weight: 300
address
  color: $light
  font-style: normal

ins
  text-decoration: none
  font-style: italic
b
  color: $medium-b
  background: $yellow
  border-radius: $radius
  padding: 0 $radius
  margin: 0 -$radius
  font-weight: normal
a
  color: $red
  padding: 0 $radius
  margin: 0 -$radius
  &:hover
    color: $white
    background: $red
    text-decoration: none
