$light: #C4B3B3
$medium: #796969
$medium-b: #6A5353
$dark: #3F3535
$red: #EB4444
$yellow: #FAFA9E
$margin: 1.2em
$radius: 2px

*
  margin: 0
  outline: 0
html, body
  height: 100%

body
  font-family: sans-serif
  color: $medium
  line-height: 1.5em
  font-size: 17px
.wrapper
  width: 33em
  margin: 1em auto
.wrapper-home
  @extend .wrapper
  margin-top: 0
  min-height: 100%
  overflow: hidden
  h1
    padding-top: 7rem
.sub-wrapper
  padding-bottom: 5em
.footer
  height: 2em
  margin-top: -3em
  text-align: center
  a
    margin: 0 1em

.instructions
  color: $light
  margin-top: $margin * 2

h1
  font-size: 3em
  color: #EB4444
  line-height: 2em
  text-align: center
form
  color: $red
label
  display: block
  padding-right: 44px + 2px
  /*=> width of border & margin */
input
  border: 1px solid $red
  color: $red
  font-family: sans-serif
  font-size: 1.4em
  padding: 13px 22px 14px
  border-radius: $radius
  width: 100%
p
  margin: .2em 0 1em
  &.result
    font-size: 1.2em
    font-weight: 300
address
  color: $light
  font-style: normal

ins
  text-decoration: none
  font-style: italic
b
  color: $medium-b
  background: $yellow
  border-radius: $radius
  padding: 0 $radius
  margin: 0 -$radius
a
  color: $red
