!!! 5
%html

  %head
    %title Bible Query Engine
    %meta{name: "description", content: "Uber-simple Bible search for geeks. Just type and press enter to search."}
    %link{rel: "author", href: "http://zickzickzick.com"}
    %style= sass :style

  %body
    .wrapper-home
      .sub-wrapper
        .instructions
          
          %dl
            %dt word search (all terms)
            %dd By default, BibleQE searches for verses that contains ALL of the search words you have entered.

            %dt word search (one term or another)
            %dd If you would like BibleQE to perform a search that contains ANY of the search words, separate those words by “|”.

            %dt single letter wildcard: ?
            %dd You can use “?” in place of any letter in a word and BibleQE.

            %dt multiple letter wildcard: *
            %dd Use “*” in place of one or more letters, for example “hand*” will searching for hand, handed, hands, handmaid, etc.

            %dt advanced patterns (regular expressions): /&lt;regex&gt;/
            %dd Use /&lt;regex&gt;/ for a regular expression search

            %dt list verse references: :list

            %dt change text (by version abbreviation): :text &lt;version&gt;
            %dd currently limited to kjv

    %nav.footer
      %a{href: "/"} Back
